<footer>
  <div class="footer-top">
    <div class="footer-column">
      <h3>Store</h3>
      <ul>
        <li><a href="#">Find a store near you</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Client Service</h3>
      <ul>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/faqs">Help/FAQs</a></li>
        <li><a href="#">Orders and Refunds</a></li>
        <li><a href="#">Track your order</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Newsletter</h3>
      <p>Write your e-mail below to be the first to know about new collection</p>
      <form class="newsletter-form">
        <input type="email" placeholder="Email" required>
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <p>©2025 LUMILUXE</p>
    <div class="payment-methods">
      <img src="/img/appelpay.jpg" alt="payment 1">
      <img src="/img/mstcard.png" alt="payment 2">
      <img src="/img/swish.png" alt="payment 3">
      <img src="/img/paypal.png" alt="payment 4">
    </div>
  </div>
</footer>
