{{> header}}

<main>
  <div class="title-contact">CONTACT US</div>

  <div class="container">
    <div class="contact-section">
      <h2>Get in Touch</h2>
      <form class="contact-form">
        <div class="form-group">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
        </div>
        <input type="email" placeholder="Email Address">
        <input type="text" placeholder="Subject">
        <textarea placeholder="Write your message here"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="hover-boxes">
    <div class="hover-box">Call Us <span>+46 72 762 46 26</span></div>
    <div class="hover-box">Email <span>lumiluxe.contact@gmail.com</span></div>
  </div>
</main>


<script src="/main.js"></script>
